.author {
  display: flex;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
  }
}

.author__photo {
  display: block;
  width: 38px;
  height: 38px;
  margin-left: 1px;
  margin-right: 16px;

  @media (max-width: $mobile-width-max) {
    margin-left: -2px;
    margin-right: 0;
  }
}

.author__name {
  margin: 0;
  margin-left: -1px;
  margin-top: 10px;
  // font-family: "Poppins";
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.466667px;
  color: $title-color;
}
