.burger {
  display: none;
  cursor: pointer;

  @media (max-width: $tablet-width-max) {
    display: block;
    margin-left: auto;
    margin-right: -#{$tablet-external-paddings};
    width: 72px;
    height: 50px;
    background-color: $brand-color;
    background-image: url("../img/burger-icon.svg");
    background-repeat: no-repeat;
    background-position: 21px 10px;
    border: none;
  }

  @media (max-width: $mobile-width-max) {
    margin-right: -#{$mobile-external-paddings};
    width: 50px;
    background-position: center;
  }
}

.burger--close {
  @media (max-width: $tablet-width-max) {
    background-color: transparent;
    background-image: url("../img/menu-close-icon.svg");
    background-size: 24px 25px;
    background-position: center;
  }
}
