.button {
  display: block;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-color: $brand-color;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  cursor: pointer;

  @media (max-width: $tablet-width-max) {
    width: $tablet-button-width;
    padding-top: 20px;
    padding-bottom: 18px;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }

  @media (max-width: $mobile-width-max) {
    width: $mobile-button-width;
  }
}

.button:hover {
  background-color: $brand-hover-color;
}

.button--arrow-down {
  background-image: url("../img/arrow-down-icon.svg");
  background-size: 16px 16px;
  background-position: center right 40px;
  background-repeat: no-repeat;
}

.button__icon--arrow-down {
  position: absolute;
  top: calc(50% - (16px / 2));
  right: 39px;
  stroke-width: 2;

  @media (max-width: $tablet-width-max) {
    stroke-width: 1;
  }
}
