.contacts {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  flex-shrink: 0;
  // width: 390px;
  // min-width: 320px;
  margin-left: auto;
  padding-left: 3.7%;
  padding-right: 3.7%;
  // padding-left: 7.7%;
  font-style: normal;

  @media (max-width: $tablet-width-max) {
    margin-left: 0;
    // margin-right: auto;
    padding-left: 6.9%;
    padding-right: 0;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
}

.contacts__list {
  @extend .list-reset;
  margin-top: 23px;
}

.contacts__item {
  margin-bottom: 19px;
}
