.main-menu {
  @media (max-width: $tablet-width-max) {
    display: none;
    flex-grow: 1;
    width: 100%;
    min-height: 518px;
    margin-left: -#{$tablet-external-paddings};
    margin-right: -#{$tablet-external-paddings};
    background-color: $white;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: -#{$mobile-external-paddings};
    margin-right: -#{$mobile-external-paddings};
  }
}

.main-menu--show {
  @media (max-width: $tablet-width-max) {
    display: block;
  }
}

.main-menu--absolute {
  @media (max-width: $tablet-width-max) {
    position: absolute;
    top: 50px;
  }
}

.main-menu__list {
  @extend .list-reset;
  display: flex;
  justify-content: flex-end;

  @media (max-width: $tablet-width-max) {
    margin-top: 84px;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.main-menu__item {
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.main-menu__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: $small-text-font-size;
  line-height: 17px;
  color: $darkest;

  @media (max-width: $tablet-width-max) {
    height: 60px;
    margin-bottom: 30px;
    padding-left: $tablet-external-paddings;
    padding-right: $tablet-external-paddings;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #48494D;
    background-color: $light;
    vertical-align: middle;
    background-image: url("../img/menu-arrow-icon.svg");
    background-size: 8px 12px;
    background-repeat: no-repeat;
    background-position: top 23px right 24px;

    @media (max-width: $mobile-width-max) {
      padding-left: $mobile-external-paddings;
      padding-right: $mobile-external-paddings;
    }
  }
}

.main-menu__link:hover {
  color: $brand-color;
}
