.page-footer {
  @include container();
  // overflow: hidden; //временно
  display: flex;
  margin-top: 169px;
  padding-left: calc-external-padding(43px);
  padding-right: calc-external-padding(39px);
  padding-bottom: 75px;

  @media (max-width: $desktop-width-max) and (min-width: $desktop-width-min) {
    padding-left: 43px;
    padding-right: 39px;
  }

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;
    margin-top: 81px;
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 70px;
  }
}

.page-footer__title {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $darkest;
}
