.place-card {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  position: relative;
  z-index: 1;
}

.place-card:hover .place-card__overlay,
.place-card:hover .place-card__link-details {
  opacity: 1;
}

.place-card__img {
  display: block;
}

.place-card__overlay {
  // display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(20, 21, 23, 0.6);
  opacity: 0;
}

.place-card__overlay:hover {
  opacity: 1;
}

.place-card__link-details {
  align-self: center;
  width: 266px;
  height: 77px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50.16%;
  font-weight: 500;
  font-size: $small-text-font-size;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  z-index: 3;
  opacity: 0;
}

.place-card__link-details:hover,
.place-card__link-details:focus {
  opacity: 1;
}

.place-card__link-details:hover + .place-card__overlay,
.place-card__link-details:focus + .place-card__overlay {
  opacity: 1;
}

.place-card__name {
  align-self: center;
  width: 215px;
  height: 61px;
  margin: 0;
  margin-left: 1px;
  padding-top: 17px;
  padding-bottom: 16px;
  position: absolute;
  bottom: 0;
  background-color: $white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.415px;
  text-align: center;
  color: $title-color;
  z-index: 3;
}
