.places-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  min-height: 1132px;
  background-image: url("../img/places-details-bg.svg");
  background-position: center 143px;
  background-repeat: no-repeat;
  // position: relative;

  @media (max-width: $tablet-width-max) {
    background-image: none;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 30px;
  }
}

.places-details__tabs-content-list {
  @extend .list-reset;
}
