.prices {
  margin-top: -168px;
  display: flex;
  flex-wrap: wrap;
  padding-right: calc(calc(50% - (#{$desktop-width-max} / 2) + #{$desktop-external-paddings}) - 10px);

  @media (max-width: $tablet-width-max) {
    display: block;
    margin-top: -190px;
    padding-right: $tablet-external-paddings;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 36px;
    padding-right: $mobile-external-paddings;
  }
}

.prices__description {
  order: 1;
  width: 32.28%;
  max-width: 300px;
  margin-left: 30px;
  padding-top: 112px;
  padding-bottom: 50px;

  @media (max-width: $tablet-width-max) {
    width: auto;
    max-width: none;
    margin-left: 0;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 39px;
  }
}

.prices__title {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 17px;
  position: relative;
  font-size: $title1-desktop-font-size;
  font-weight: 600;
  line-height: 90px;
  color: $dark;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    padding-bottom: 0;
    font-size: $title1-tablet-font-size;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: $title1-mobile-font-size;
    line-height: 36px;
  }
}

.prices__title::after {
  content: "";
  display: block;
  width: 175px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $brand-color;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.prices__text {
  margin: 0;
  margin-bottom: 61px;
  line-height: 27px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 19px;
  }
}

.prices__plans-list {
  @extend .list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 65.25%;
  margin-right: auto;

  @media (max-width: $tablet-width-max) {
    width: auto;
    margin-right: 0;
    padding-left: 6.887%;
    padding-right: 6.887%;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.prices__plan {
  width: 48.05%;
  margin-right: auto;
  margin-bottom: 30px;
  padding-left: 3.766%;
  padding-right: 3.766%;
  padding-top: 5.065%;
  padding-bottom: 3.766%;

  @media (max-width: $tablet-width-max) {
    width: 46%;
    margin-right: 8%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 29px;
    padding-bottom: 0;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-right: 0;
  }
}

.prices__plan:nth-child(2n) {
  @media (min-width: $tablet-width-min) {
    margin-right: 0;
  }
}

.prices__plan:last-child {
  margin-right: 0;
}
