.tab-content {
  display: flex;
  margin-top: 79px;

  @media (max-width: $tablet-width-max) {
    flex-wrap: wrap;
    margin-top: 22px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 15px;
  }
}

.tab-content--hide {
  display: none;
}

.tab-content__column-left {
  width: 31.624%;
  margin-right: 8.547%;

  @media (max-width: $tablet-width-max) {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 50px;
  }
}

.tab-content__column-right {
  width: 59.83%;
  position: relative;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin-left: -#{$tablet-external-paddings};
    margin-right: -#{$tablet-external-paddings};
  }

  @media (max-width: $mobile-width-max) {
    margin-left: -#{$mobile-external-paddings};
    margin-right: -#{$mobile-external-paddings};
  }
}

.tab-content__title {
  margin-top: 11px;
  margin-bottom: 31px;
  padding-bottom: 17px;
  position: relative;
  font-weight: 600;
  font-size: $title1-desktop-font-size;
  line-height: 89px;
  letter-spacing: -1.245px;
  color: $title-color;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 21px;
    padding-bottom: 0;
    font-size: $title1-tablet-font-size;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 19px;
    font-size: $title1-mobile-font-size;
    line-height: 36px;
  }
}

.tab-content__title::after {
  content: "";
  display: block;
  width: 175px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $brand-color;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.tab-content__text {
  margin: 0;
  margin-bottom: 49px;
  letter-spacing: -0.466667px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 19px;
    text-align: center;
  }
}

.tab-content__button {
  @media (min-width: $desktop-width-min) {
    width: 250px;
  }

  @media (max-width: $tablet-width-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

.tab-content__img {
  display: block;
  width: 61.4286%;

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}

.tab-content__review {
  position: absolute;
  top: 114px;
  right: 0;

  @media (max-width: $tablet-width-max) {
    top: 80px;
    right: auto;
    align-self: center;
  }

  @media (max-width: $mobile-width-max) {
    top: 50px;
  }
}
