// //Сброс стилей у списков
// @mixin list-reset() {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }

//Стилизация строк в хедере
@mixin header-row() {
  display: flex;
  align-items: center;
  min-height: $header-row-height;
  border-bottom: 1px solid #e6e6e6;
}

//Базовые стили заголовков
@mixin title() {
  margin: 0;
  font-family: $title-font-family;
  color: $title-color;
  font-weight: 400;
}

//Центровщик
@mixin container() {
  width: 100%;
  // max-width: $desktop-width-max;
  // margin: 0 auto;
  // padding-left: calc(50% - (#{$desktop-width-max} / 2) + #{$desktop-external-paddings});
  // padding-right: calc(50% - (#{$desktop-width-max} / 2) + #{$desktop-external-paddings});
  padding-left: calc-external-padding($desktop-external-paddings);
  padding-right: calc-external-padding($desktop-external-paddings);

  @media (max-width: $desktop-width-max) {
    padding-left: $desktop-external-paddings;
    padding-right: $desktop-external-paddings;
  }

  @media (max-width: $tablet-width-max) {
    padding-left: $tablet-external-paddings;
    padding-right: $tablet-external-paddings;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: $mobile-external-paddings;
    padding-right: $mobile-external-paddings;
  }
}
