//Breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Content widthes
// $mobile-content-width: 320px;
// $tablet-content-width: 768px;
// $desktop-content-width: 1024px;

//Font
$text-font-family: "Monseratt", "Arial", sans-serif;

// $smaller-font-size: 14px;
// $normal-font-size: 16px;
// $larger-font-size: 18px;
// $large-font-size: 20px;
// $extralarge-font-size: 24px;

$small-text-font-size: 14px;
$text-font-size: 16px;
$title1-mobile-font-size: 24px;
$title1-tablet-font-size: 30px;
$title1-desktop-font-size: 55px;

$text-line-height: 28px;

//Colors
$brand-color: #FE7865;
$brand-hover-color: #F17D4B;

$title-color: #2C2E3F;
$text-color: rgba(44, 46, 63, 0.7);

$white: #ffffff;
$light: #f8f8f8;
$dark: #2C2E3F;
$darkest: #141517;

//Sizes
$mobile-external-paddings: 16px;
$tablet-external-paddings: 21px;
// $desktop-external-paddings: 40px;
